body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: Trebuchet MS, "Trebuchet MS", Verdana, "Verdana", Arial, sans-serif;
}

.hidden {
  display: none;
}

.main-container {
  position: relative;
  width: 1000px;
  min-height: 640px;
  margin: 0px auto;
  text-align: left;
}
.main-container .header {
  min-height: 20px;
}
.main-container .content {
  position: absolute;
  height: 80px;
  top: 50%;
  margin-top: -40px;
  overflow: hidden;
}
.main-container .content #js-search-box {
  height: 40px;
  width: 800px;
  padding: 10px;
  border: 1px solid #A8A8A8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.main-container .content #js-search {
  padding: 10px;
  border: 1px solid #A8A8A8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.main-container .content #js-loading-gif {
  vertical-align: middle;
}
.main-container .content .js-details {
  float: right;
  padding: 10px;
}
.main-container .content .row div {
  display: inline-block;
  margin: 0 10px;
}
.main-container .content .row .img-container {
  padding: 10px;
  vertical-align: middle;
}
.main-container .content #js-results {
  overflow: hidden;
  max-width: 870px;
  max-height: 520px;
}
.main-container .content #js-results.expanded {
  overflow-y: scroll;
  overflow-x: hidden;
}
.main-container .content #js-results .title-container {
  max-width: 540px;
}
.main-container .content .search-container {
  padding: 10px 0px;
}
.main-container .footer {
  min-height: 20px;
}
