@import "compass/css3/border-radius";

body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: Trebuchet MS, "Trebuchet MS", Verdana, "Verdana", Arial, sans-serif;
}

button:hover {
	cursor: pointer;
}

.hidden {
	display: none;
}

.main-container {
	position: relative;
	width: 1000px;
	min-height: 640px;
	margin: 0px auto;
	text-align: left;

	.header {
		min-height: 20px;
	}

	.content {
		position: absolute;
		height: 80px;
		top: 50%;
		margin-top: -40px;
		overflow: hidden;
		
		#js-search-box {
			height: 40px;
			width: 800px;
			padding: 10px;
			border: 1px solid #A8A8A8;
			@include border-radius(3px);
		}

		#js-search {
			padding: 10px;
			border: 1px solid #A8A8A8;
			@include border-radius(3px);

			&:hover {

			}
		}

		#js-loading-gif {
			vertical-align: middle;
		}

		.js-details {
			float: right;
			padding: 10px;
			margin-top: 10px;
			border: 1px solid #A8A8A8;
			@include border-radius(3px);
		}

		.row {
			border: solid #D4D4D4;
			border-width: 0px 0px 1px 0px;

			div {
				display: inline-block;
				margin: 0 10px;
			}

			.img-container {
				margin: 10px;
				vertical-align: middle;
				border: 1px solid #A8A8A8;
				@include border-radius(3px);
			}

			.price-container {
				float: right;
				margin: 10px;
				color: #03AB1A;
			}
		}

		#js-results {
			overflow: hidden;
			max-width: 870px;
			max-height: 490px;

			&.expanded {
				overflow-y: scroll;
				overflow-x: hidden;
			}

			.title-container {
				max-width: 540px;
			}
		}

		#js-evironment-container {
			visibility: hidden;
		}

		.search-container {
			padding: 10px 0px;
		}
	}

	.footer {
		min-height: 20px;
	}
}