body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: Trebuchet MS, "Trebuchet MS", Verdana, "Verdana", Arial, sans-serif;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.main-container {
  position: relative;
  width: 1000px;
  min-height: 640px;
  margin: 0px auto;
  text-align: left;
}
.main-container .header {
  min-height: 20px;
}
.main-container .content {
  position: absolute;
  height: 80px;
  top: 50%;
  margin-top: -40px;
  overflow: hidden;
}
.main-container .content #js-search-box {
  height: 40px;
  width: 700px;
  padding: 10px;
  border: 1px solid #A8A8A8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.main-container .content #js-search {
  padding: 10px;
  border: 1px solid #A8A8A8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF6200', endColorstr='#FF993B00');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff914d), color-stop(70%, #ff6200));
  background: -webkit-linear-gradient(#ff914d, #ff6200 70%);
  background: -moz-linear-gradient(#ff914d, #ff6200 70%);
  background: -o-linear-gradient(#ff914d, #ff6200 70%);
  background: linear-gradient(#ff914d, #ff6200 70%);
  -webkit-box-shadow: #ffc099 0 1px 0 inset;
  -moz-box-shadow: #ffc099 0 1px 0 inset;
  box-shadow: #ffc099 0 1px 0 inset;
  border: 1px solid #e65800;
  color: white;
  text-shadow: #c44b00 0 -1px 0;
}
.main-container .content #js-search:hover {
  text-decoration: none;
}
.main-container .content #js-search:hover {
  background-color: #e65800;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #ff8133), color-stop(75%, #e65800));
  background: -webkit-linear-gradient(#ff8133 3%, #e65800 75%);
  background: -moz-linear-gradient(#ff8133 3%, #e65800 75%);
  background: -o-linear-gradient(#ff8133 3%, #e65800 75%);
  background: linear-gradient(#ff8133 3%, #e65800 75%);
}
.main-container .content #js-search:active {
  -webkit-box-shadow: #d65200 0 1px 2px inset;
  -moz-box-shadow: #d65200 0 1px 2px inset;
  box-shadow: #d65200 0 1px 2px inset;
}
.main-container .content #js-search.disabled, .main-container .content #js-search[disabled] {
  opacity: 0.6;
  background: #ff6200;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.main-container .content #js-loading-gif {
  vertical-align: middle;
}
.main-container .content .js-details {
  float: right;
  padding: 10px;
  margin: 10px 10px 0px 0px;
  border: 1px solid #A8A8A8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEDEDE4', endColorstr='#FFC4C4A7');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #edede4), color-stop(100%, #d9d9c5));
  background: -webkit-linear-gradient(#edede4, #d9d9c5);
  background: -moz-linear-gradient(#edede4, #d9d9c5);
  background: -o-linear-gradient(#edede4, #d9d9c5);
  background: linear-gradient(#edede4, #d9d9c5);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #ceceb6;
  color: white;
  text-shadow: #b8b894 0 -1px 0;
  -webkit-box-shadow: #ddddcc 0 0.2em 0.4em inset;
  -moz-box-shadow: #ddddcc 0 0.2em 0.4em inset;
  box-shadow: #ddddcc 0 0.2em 0.4em inset;
  border: solid 1px #ceceb6;
  color: #454545;
  text-shadow: white 0 1px 0;
}
.main-container .content .js-details:hover {
  text-decoration: none;
}
.main-container .content .js-details:hover {
  background-color: #ceceb6;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3d5), color-stop(100%, #ceceb6));
  background: -webkit-linear-gradient(#e3e3d5, #ceceb6);
  background: -moz-linear-gradient(#e3e3d5, #ceceb6);
  background: -o-linear-gradient(#e3e3d5, #ceceb6);
  background: linear-gradient(#e3e3d5, #ceceb6);
}
.main-container .content .js-details:active {
  -webkit-box-shadow: #c8c8ad 0 1px 2px inset;
  -moz-box-shadow: #c8c8ad 0 1px 2px inset;
  box-shadow: #c8c8ad 0 1px 2px inset;
}
.main-container .content .js-details.disabled, .main-container .content .js-details[disabled] {
  opacity: 0.6;
  background: #d9d9c5;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.main-container .content .js-details:active {
  -webkit-box-shadow: #d5d5bf 0 0.2em 0.4em inset;
  -moz-box-shadow: #d5d5bf 0 0.2em 0.4em inset;
  box-shadow: #d5d5bf 0 0.2em 0.4em inset;
}
.main-container .content .row {
  border: solid #D4D4D4;
  border-width: 0px 0px 1px 0px;
}
.main-container .content .row:hover {
  background-color: #EDEDE4;
}
.main-container .content .row div {
  display: inline-block;
  margin: 0 10px;
}
.main-container .content .row .img-container {
  margin: 10px;
  vertical-align: middle;
  border: 1px solid #A8A8A8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.main-container .content .row .price-container {
  float: right;
  margin: 10px;
  color: #03AB1A;
}
.main-container .content #js-results {
  overflow: hidden;
  max-width: 870px;
  max-height: 490px;
}
.main-container .content #js-results.expanded {
  overflow-y: scroll;
  overflow-x: hidden;
}
.main-container .content #js-results .title-container {
  max-width: 540px;
}
.main-container .content #js-details-container {
  position: absolute;
  top: 120px;
  left: 870px;
  max-width: 870px;
  max-height: 490px;
  background-color: #fff;
  border: 1px solid #D4D4D4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
}
.main-container .content #js-details-container div {
  min-width: 800px;
}
.main-container .content #js-details-container #js-details-description {
  max-height: 220px;
  overflow-x: auto;
  overflow-y: scroll;
}
.main-container .content #js-details-container #js-details-close {
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 0px;
}
.main-container .content #js-details-container #js-details-close:hover {
  cursor: pointer;
}
.main-container .content #js-evironment-container {
  visibility: hidden;
}
.main-container .content .search-container {
  padding: 10px 0px;
}
.main-container .content .search-container .etsy-logo {
  width: 100px;
  height: 40px;
  background: url("../images/etsy-logo.png") left -8px no-repeat;
  display: inline-block;
  vertical-align: top;
  margin-top: 1px;
}
.main-container .footer {
  min-height: 20px;
}
