@import "compass/css3/border-radius";
@import "sassy-buttons";

body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: Trebuchet MS, "Trebuchet MS", Verdana, "Verdana", Arial, sans-serif;
}

button:hover {
	cursor: pointer;
}

.hidden {
	display: none;
}

.main-container {
	position: relative;
	width: 1000px;
	min-height: 640px;
	margin: 0px auto;
	text-align: left;

	.header {
		min-height: 20px;
	}

	.content {
		position: absolute;
		height: 80px;
		top: 50%;
		margin-top: -40px;
		overflow: hidden;
		
		#js-search-box {
			height: 40px;
			width: 700px;
			padding: 10px;
			border: 1px solid #A8A8A8;
			@include border-radius(3px);
		}

		#js-search {
			padding: 10px;
			border: 1px solid #A8A8A8;
			@include border-radius(3px);
			@include sassy-button-gradient("matte", #FF6200);
		}

		#js-loading-gif {
			vertical-align: middle;
		}

		.js-details {
			float: right;
			padding: 10px;
			margin: 10px 10px 0px 0px;
			border: 1px solid #A8A8A8;
			@include border-radius(3px);
			@include sassy-button-gradient("simple", #EDEDE4);
			@include sassy-button-style("inset", #EDEDE4);
			@include sassy-button-text-style(#EDEDE4, #EDEDE4, #454545, "inset");
		}

		.row {
			border: solid #D4D4D4;
			border-width: 0px 0px 1px 0px;

			&:hover {
				background-color: #EDEDE4;
			}

			div {
				display: inline-block;
				margin: 0 10px;
			}

			.img-container {
				margin: 10px;
				vertical-align: middle;
				border: 1px solid #A8A8A8;
				@include border-radius(3px);
			}

			.price-container {
				float: right;
				margin: 10px;
				color: #03AB1A;
			}
		}

		#js-results {
			overflow: hidden;
			max-width: 870px;
			max-height: 490px;

			&.expanded {
				overflow-y: scroll;
				overflow-x: hidden;
			}

			.title-container {
				max-width: 540px;
			}
		}

		#js-details-container {
			position: absolute;
			top: 120px;
			left: 870px;
			max-width: 870px;
			max-height: 490px;
			background-color: #fff;
			border: 1px solid #D4D4D4;
			@include border-radius(3px);
			padding: 20px;

			div {
				min-width: 800px;
			}

			#js-details-description {
				max-height: 220px;
				overflow-x: auto;
				overflow-y: scroll;
			}

			#js-details-close {
				position: absolute;
				top: 10px;
				right: 10px;
				min-width: 0px;
				&:hover {
					cursor: pointer;
				}
			}
		}

		#js-evironment-container {
			visibility: hidden;
		}

		.search-container {
			padding: 10px 0px;

			.etsy-logo {
				width: 100px;
				height: 40px;
				background: url('../images/etsy-logo.png') left -8px no-repeat;
				display: inline-block;
				vertical-align: top;
				margin-top: 1px;
			}
		}
	}

	.footer {
		min-height: 20px;
	}
}